asgiref==3.8.1
attrs==25.3.0
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
click-plugins==1.1.1.2
cligj==0.7.2
dj-database-url==3.0.1
Django==5.2.1
django-cors-headers==4.7.0
django-environ==0.12.0
django-extensions==4.1
django-filter==25.1
djangorestframework==3.16.0
djangorestframework-gis==1.2.0
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
fiona==1.10.1
Flask==3.1.1
geopandas==1.0.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.2.5
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pillow==11.3.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
pyogrio==0.11.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2025.2
requests==2.32.3
rtree==1.4.1
setuptools==82.0.1
shapely==2.1.0
six==1.17.0
sqlparse==0.5.3
svgwrite==1.4.3
tzdata==2025.2
urllib3==2.4.0
Werkzeug==3.1.3
whitenoise==6.9.0
